@model IEnumerable<Pokemon_ASP.Models.Pokemon>
@using Pokemon_ASP.Models;

@{
    ViewBag.Title = "Index";
}
<meta charset="utf-8">
<!-- Header -->
<header id="header" class="header">
    <div class="header-content" style="height:600px;" id="fondo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container" style="margin-top:100px;">
                        <h1 id="js-rotating" style="font-size:40px; margin-top:200px;">
                            There 's no time to leave your weaknesses..., “Take charge of your destiny.” – Rayquaza, A Lugia flying? It can 't be!, “Everybody makes a wrong turn once in a while” – Ash
                        </h1>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->
<!-- Description -->
<div class="cards-1 white-background">
    <div class="container">
    <h2 class="featured">Featured Pokemon</h2>
        @{
            for (int i = 0; i < 3; i++)
            {
                Pokemon randomPokemon = Pokemon.GetRandomPokemon();
                <div class="random-pokemon clearfix">
                    <p class="pokemon-name">@randomPokemon.name <span class="pokemon-number"> @randomPokemon.id</span></p>
                    <div class="random-pokemon-img">
                        <img class="pokemon-img" src="@Html.DisplayFor(modelItem => randomPokemon.img)" />
                    </div>
                    <div class="random-pokemon-data">
                        @if (randomPokemon.type != null)
                        {
                            foreach (var type in randomPokemon.type)
                            {
                                var imgPath = type + ".png";
                                <span><a title="@type" href="@Url.Action("PokemonList", "Pokemon", new { Page=1, Type = type })"><img class="type-img" src="~/Images/Types/@imgPath" /></a></span>
                            }
                        }

                    </div>
                </div>
            }
        }

        <div class="row">

        </div>
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card col-lg-4" style="max-width:220px; text-align:left">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-binoculars fa-stack-1x" style="margin-top: 3000px"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Advanced Challenge episodes</h4>
                        <p>Ash, Pikachu and their friends continue their journey through the Hoenn region with the arrival of the seventh season of the Pokémon series on Pokémon TV this Friday.</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card col-lg-4" style="max-width:220px; text-align:left">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-list-alt fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Machamp Gigantamax and Orbeetle Gigantamax in Dinamax Incursions</h4>
                        <p>In February, Pokémon Sword and Pokémon Shield Dinamax Incursions are filled with Fighting-type and Psychic-type Pokémon.</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card col-lg-4" style="max-width:220px; text-align:left">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-chart-pie fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Shiny Miltank raids in Pokémon GO</h4>
                        <p>There's plenty to do in this special event, including Johto-inspired raids and the opportunity to evolve certain Pokémon to learn unique attacks.</p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description -->
<!-- Scripts -->
<script src="../JavaScript/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="../JavaScript/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="../JavaScript/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="../JavaScript/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="../JavaScript/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="../JavaScript/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="../JavaScript/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="../JavaScript/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="../JavaScript/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="../JavaScript/scripts.js"></script> <!-- Custom scripts -->