@model IEnumerable<Pokemon_4.Taldea.Models.Pokemon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <div class="col-lg-1 borderrak" id="blokekategoria" style="margin-top:150px; margin-bottom:100px; margin-right:100px;">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="ardo-argazkia" src="@Html.DisplayFor(modelItem => item.img)" style="width:80px;height:90px; margin-top:25px; margin-right:20px;" />
                    </td>
                    <td>
                        <div class="row kategoriaMotaIzenburua">
                            Pokemon izena: @Html.DisplayFor(modelItem => item.name)
                        </div>
                        <div class="row ">
                            <div class="col-lg-1" style="margin-right:10px;">
                                <div><p style="font-size:16px; font-weight:bold; margin-left:-15px;"> @Html.DisplayFor(modelItem => item.type)</p></div>
                            </div>
                            <div class="col-lg-1" style="margin-right:90px;">

                                <img src="https://static.vecteezy.com/system/resources/previews/000/119/820/non_2x/free-type-pokemon-vector.png" style="width:100px;height:80px; margin-left:20px; margin-top:-25px;" />
                            </div>
                            <div class="col-lg-1">
                                <p style="font-size:16px; font-weight:bold; margin-top:1px; margin-left:-20px; "> @Html.DisplayFor(modelItem => item.height)</p>
                            </div>
                            <div class="col-lg-1">
                                <img src="https://image.flaticon.com/icons/png/512/349/349410.png" style="width:50px;height:60px; margin-top:-10px; margin-left:-35px;" />
                            </div>
                            <div class="col-lg-1">
                                <p style="font-size:16px; font-weight:bold;  margin-left:-20px;  margin-top:5px;">@Html.DisplayFor(modelItem => item.weight)</p>
                            </div>
                            <div class="col-lg-1">
                                <img src="https://img.icons8.com/ios/452/weight-kg.png" style="width:50px;height:60px; margin-top:-17px; margin-left:-25px; " />
                            </div>
                            <div class="col-lg-1">
                                <p style="font-size:16px; font-weight:bold;  margin-left:-20px; ">@Html.DisplayFor(modelItem => item.weaknesses)</p>
                            </div>

                            <div class="col-lg-1">
                                <p style="font-size:16px; font-weight:bold; margin-top:6px; margin-left:-18px; ">@Html.DisplayFor(modelItem => item.prev_evolution)</p>
                            </div>

                            <div class="col-lg-1">
                                <p style="font-size:16px; font-weight:bold; margin-top:6px; margin-left:-35px; ">@Html.DisplayFor(modelItem => item.next_evolution)</p>
                            </div>
                        </div>
                    </td>

                </tr>
            }

        </table>
    </div>

