@model PagedList.IPagedList<Pokemon_4.Taldea.Models.Pokemon>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<br />
<br />
<br />
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@{
    var findtype = Request.QueryString["Type"];



    string isAllowed = Request.Params["allowed"];
    //string type = RouteData.Values["type"];
}
@Html.PagedListPager(Model, page => Url.Action("Index", new { Page = page, Type = findtype }))

@foreach (var item in Model)
{
    <div class="container row" style="border:solid; margin: 20px; border-radius: 10px; max-width:1800px; height:auto">
        <div class="container col-lg-4">
            <div class="container row"><img class="ardo-argazkia" style="margin-left:40px;" src="@Html.DisplayFor(modelItem => item.img)" /></div>
            <div class="container row" style="font-size:26px; margin-left:110px; margin-top:5px; margin-bottom:20px; color:royalblue; font-weight:bold">
                @foreach (var name in item.name)
                {
                    @name

                }
            </div>
        </div>
        <hr>
        <div class="col-lg-4">
            <div class="container row" style="margin-top:-270px; margin-bottom:200px; margin-left:140px;max-width:400px;">
                <p style=" color:black; font-weight:bold; margin-left:-50px;">Tipo</p>

                @if (item.type != null)
                {
                    foreach (var type in item.type)
                    {
                        var irudia = type + ".png";
                        <img style="max-height: 80px; margin-top:-10px;" src="~/Irudiak/tipos/@irudia" />
                    }
                }
            </div>
            <div class="container row" style="margin-top:-200px;; margin-left:140px;">
                <p style=" color:black; font-weight:bold; margin-top:10px; margin-left:-50px;">Debilidad</p>
                @if (item.weaknesses != null)
                {
                    foreach (var weaknesses in item.weaknesses)

                    {
                        var irudia = weaknesses + ".png";
                        <img style="max-height: 80px; margin-top:-10px;" src="~/Irudiak/tipos/@irudia" />
                    }
                }
            </div>
            <div class="container row urdina" style="margin-top:20px; margin-bottom:30px; margin-left:200px;">
                <div class="container row">
                    <div class="container col-lg-2" style="margin-left:40px">
                        <div class="container row letra-zuria">
                            <p>Altura</p>
                        </div>
                        <div class="container row letra-beltza">
                            <p>@Html.DisplayFor(modelItem => item.height)</p>
                        </div>
                    </div>
                    <div class="container col-lg-2">
                        <div class="container row letra-zuria">
                            <p>Peso</p>
                        </div>
                        <div class="container row letra-beltza">
                            <p>@Html.DisplayFor(modelItem => item.weight)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { Page = page, Type = findtype }))


